html {
  font-size: 100%;
} /*16px*/

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: #eee;
  --text-color: #071042;
  --primary-color: #1b7260;
  --primary-light-color: #8cb8af;
  --background-grey-color: #ecf0f2;
}

body {
  background: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.75;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text_small {
  font-size: 0.937rem;
}

.icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.max-width{
  width: 80%;
  max-width: 960px;
}

.photo-left {
  float: left;
  margin: 0 1rem 0 0;
}

.photo-right {
  float: right;
  margin: 0 0 1rem 0;
}

.clear-float::after {
  clear: both;
  display: table;
  content: "";
}

/* HEADER */

header ul{
  list-style: none;
  padding-inline-start: 0px;
}

header a{
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.35s ease-in-out;
}

header li:hover > a{
  color: var(--text-color);
  text-decoration: underline;
}

header ul ul{
  display: none;
}

header ul li{
  position: relative;
  padding: 0 8px;
}

header li:hover > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background-color: var(--background-grey-color);
}

header ul li ul li:hover > ul{
  top: 0px;
  left: 100%;
  transform: translateX(0%);
}


.navbar{
  width: 100%;
  background-color: var(--background-grey-color);
  display: flex;
  justify-content: center;
}

.navbar-links > a{
  display: flex;
  align-items: center;
}

.navbar-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
}

.menu > li{
  margin-left: 12px;
}

/* Trips */

.trips{
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

.trips article{
  margin: 0 16px;
}

.trips table{
  margin: 16px 0;
}

aside{
  text-align: center;
  margin: 0 8px;
}

/* Contact */

.contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

.contact form textarea{
  width: 90%;
  max-width: 400px;
  margin: 16px 0;
}

.contact form button{
  padding: 8px 25px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 20px 0;
}

/* Footer */

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-grey-color);
  padding: 10px 0;
}



/* Media queries */

@media only screen and (min-width: 720px) {
  .trips{
    flex-direction: row;
  }
}

@media print{
  #contact{
    display: none;
  }
  footer{
    display: none;
  }
  header{
    display: none;
  }
  .trips{
    flex-direction: column;
  }
}